<form class="form-horizontal">
	<label for="variable" class="col-sm-2">Variable:</label>      
	<div class="col-sm-10">
		<select class="form-control" id="variable" title="Select One..." aria-describedby="variable">
			<option class="list-group-item">New <span class="badge">12</span></option>
			<option class="list-group-item">Deleted <span class="badge">5</span></option> 
			<option class="list-group-item">Warnings <span class="badge">3</span></option> 
			<option class="list-group-item">New <span class="badge">12</span></option>
			<option class="list-group-item">Deleted <span class="badge">5</span></option> 
			<option class="list-group-item">Warnings <span class="badge">3</span></option> 
			<option class="list-group-item">New <span class="badge">12</span></option>
			<option class="list-group-item">Deleted <span class="badge">5</span></option> 
			<option class="list-group-item">Warnings <span class="badge">3</span></option> 
			<option class="list-group-item">New <span class="badge">12</span></option>
			<option class="list-group-item">Deleted <span class="badge">5</span></option> 
			<option class="list-group-item">Warnings <span class="badge">3</span></option> 
			<option class="list-group-item">New <span class="badge">12</span></option>
			<option class="list-group-item">Deleted <span class="badge">5</span></option> 
			<option class="list-group-item">Warnings <span class="badge">3</span></option> 
			<option class="list-group-item">New <span class="badge">12</span></option>
			<option class="list-group-item">Deleted <span class="badge">5</span></option> 
			<option class="list-group-item">Warnings <span class="badge">3</span></option> 
			<option class="list-group-item">New <span class="badge">12</span></option>
			<option class="list-group-item">Deleted <span class="badge">5</span></option> 
			<option class="list-group-item">Warnings <span class="badge">3</span></option> 
			<option class="list-group-item">New <span class="badge">12</span></option>
			<option class="list-group-item">Deleted <span class="badge">5</span></option> 
			<option class="list-group-item">Warnings <span class="badge">3</span></option> 
			<option class="list-group-item">New <span class="badge">12</span></option>
			<option class="list-group-item">Deleted <span class="badge">5</span></option> 
			<option class="list-group-item">Warnings <span class="badge">3</span></option> 
		</select>
	</div>
</form>